

<!-- <form action="/register" method="POST">
    <input type="text" name="full_name" placeholder="Full Name">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="job_role" placeholder="Job Role">
    <input type="text" name="email" placeholder="Email">
    <input type="number" placeholder="Contact">
    <button type="submit">REGISTER</button>   
</form> -->


    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MedWeb-Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
        <style type="text/css">
            
            body
            {
                background-image: url("https://wallpapermemory.com/uploads/697/medical-wallpaper-hd-1920x1280-353057.jpg");
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
            }
    
        </style>
    </head>
    <body>
        <div style="background-color: rgba(0,0,0,0.65);">
    
        <!-- <a href="/login">Login</a>
        <a href="/register">Signup</a>
        <a href="/logout">Logout</a> -->
    
        <div style="position:fixed; top: 0; width: 100%; z-index: 1;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a style="background-color: rgba(0,0,0,0.45); padding: 5px 30px; border-radius: 2px;" class="navbar-brand" href="#">
                    <span style="font-size: larger; font-weight: bolder; font-family: 'Times New Roman', Times, serif;">
                        <span style="color: springgreen;">Med</span>
                        <span style="color:#ff5465;">Web</span>
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-right" id="navbarNav">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Predict</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Covid Resources</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                      </li>
                    </ul>
                </div>
              </nav>
        </div>
    
        <div class="container mt-4">
            <br><br><br>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div style="border-radius: 5px; color: white; font-weight: 300; padding: 20px; background-color: rgba(0,0,0,0.5);">
                        <h1 class="display-4" style="font-size: xx-large;">Register yourself to
                            <span>
                                <span style="color:springgreen;">Med</span><span style="color:#ff5465;">Web</span>
                            </span>
                        </h1>
                        <hr color="white">
                        <form action="/register" method="POST">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Username</label>
                              <input type="text" style="background-color: rgba(0,0,0,0.55); color: white; border: none;" class="form-control form-control-lg" id="exampleFormControlInput1" name="username" placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput2">Password</label>
                              <input type="password" style="background-color: rgba(0,0,0,0.55); color: white; border: none;" class="form-control form-control-lg" id="exampleFormControlInput2" name="password" placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput2">Full Name</label>
                              <input type="text" style="background-color: rgba(0,0,0,0.55); color: white; border: none;" class="form-control form-control-lg" id="exampleFormControlInput2" name="full_name" placeholder="Enter your Full Name">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput2">Job Role</label>
                              <input type="text" style="background-color: rgba(0,0,0,0.55); color: white; border: none;" class="form-control form-control-lg" id="exampleFormControlInput2" name="job_role" placeholder="Doctor or a Patient">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput2">Email</label>
                              <input type="email" style="background-color: rgba(0,0,0,0.55); color: white; border: none;" class="form-control form-control-lg" id="exampleFormControlInput2" name="email" placeholder="name@gmail.com">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput2">Contact</label>
                              <input type="text" style="background-color: rgba(0,0,0,0.55); color: white; border: none;" class="form-control form-control-lg" id="exampleFormControlInput2" name="contact" placeholder="+91-0000000000">
                            </div>
                            
                            <br>
                            <div class="form-group">
                              <button type="submit" class="btn btn-lg btn-block btn-primary" id="exampleFormControlInput1">Register</button>
                            </div>
                            <p style="text-align: right;">
                                <a href="/login" style="font-size: large;">Already have an account? LOGIN Here!</a>
                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                    
            </div>
    
        <div>
            <br><br><br><br><br>
            
        </div>
    
        </div>
    
    </body>
    </html>